<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwx.minishop.dao.ProductMapper">
    <resultMap id="ProductType" type="com.wwx.minishop.entity.Product">
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productDesc" column="product_desc"/>
        <result property="imgAddress" column="img_address"/>
        <result property="normalPrice" column="normal_price"/>
        <result property="promotionPrice" column="promotion_price"/>
        <result property="priority" column="priority"/>
        <result property="createTime" column="create_time"/>
        <result property="lastEditTime" column="last_edit_time"/>
        <result property="enableStatus" column="enable_status"/>
        <association property="productCategory" javaType="com.wwx.minishop.entity.ProductCategory">
            <id column="product_category_id" property="productCategoryId"/>
            <result column="product_category_name" property="productCategoryName"/>
        </association>
        <association property="shop" javaType="com.wwx.minishop.entity.Shop">
            <id property="shopId" column="shop_id"/>
            <result property="shopName" column="shop_name"/>
            <result property="enableStatus" column="enable_status"/>
        </association>
    </resultMap>

    <select id="queryAllByShopId" resultMap="ProductType">
        select p.product_id,p.product_name,p.product_desc,p.img_address,
        p.normal_price,p.promotion_price,p.priority,p.create_time,p.last_edit_time,
        p.enable_status,p.product_category_id,p.shop_id,
        pc.product_category_id,pc.product_category_name,
        s.shop_id,s.shop_name,s.enable_status
        from
        tb_product p
        left join tb_product_category pc on p.product_category_id = pc.product_category_id
        left join tb_shop s on p.shop_id = s.shop_id
        where
        s.shop_id = #{shopId} and s.enable_status > 0
    </select>

    <select id="queryProductById" resultMap="ProductType">
        select p.product_id,p.product_name,p.product_desc,p.img_address,
        p.normal_price,p.promotion_price,p.priority,p.create_time,p.last_edit_time,
        p.enable_status,p.product_category_id,p.shop_id,
        pc.product_category_id,pc.product_category_name,
        s.shop_id,s.shop_name
        from
        tb_product p
        left join tb_product_category pc on p.product_category_id = pc.product_category_id
        left join tb_shop s on p.shop_id = s.shop_id
        where
        p.product_id = #{productId}
    </select>

    <update id="modifyProduct">
        update tb_product
        <set>
            <if test="productName!=null">
                product_name=#{productName},
            </if>
            <if test="productDesc!=null">
                product_desc = #{productDesc},
            </if>
            <if test="imgAddress!=null">
                img_address = #{imgAddress},
            </if>
            <if test="normalPrice!=null">
                normal_price = #{normalPrice},
            </if>
            <if test="promotionPrice!=null">
                promotion_price = #{promotionPrice},
            </if>
            <if test="lastEditTime!=null">
                last_edit_time = #{lastEditTime},
            </if>
            <if test="enableStatus!=null">
                enable_status = #{enableStatus},
            </if>
            <if test="productCategory != null and productCategory.productCategoryId != null">
                product_category_id = #{productCategory.productCategoryId},
            </if>
        </set>
        where
        product_id = #{productId}
    </update>

</mapper>