<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <!--消息提示-->
        <!-- Modal -->
        <div th:fragment="modal" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="message">通知</h4>
                    </div>
                    <div class="modal-body">
                        <p class="form-control-static" id="modal_hint" style="font-size: 16px"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="message_dismiss" class="btn btn-default" data-dismiss="modal" >关闭</button>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>