body{
    background: url("../image/3.jpg");
    background-size: cover;
}
.form{
    background: rgba(255,255,255,0.2);
    width:400px;
    margin:120px auto;}

.form h1{
    color: #FFFFFF;
}
.form h3{
    color: #FFFFFF;
}
/*阴影*/
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}