<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frontend/bar::head_file">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="frontend/bar::head_top"></div>

    <!--搜索栏-->
    <div th:replace="frontend/bar::head_search"></div>

    <!--导航栏-->
    <div th:replace="frontend/bar::navigation"></div>

    <div th:replace="frontend/bar::lunbo"></div>

    <script th:src="@{/js/jquery/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/minishop/commons.js}"></script>
    <script>
    //启动轮播，设置轮播间隔4s
    $(".carousel").carousel({
        interval: 4000
    });
    </script>
</body>
</html>