<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frontend/bar::head_file">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="commons/commons::modal"></div>

    <div th:replace="frontend/bar::head_top"></div>

    <!--搜索栏-->
    <div th:replace="frontend/bar::head_search"></div>

    <!--导航栏-->
    <div th:replace="frontend/bar::navigation"></div>

    <div th:replace="frontend/bar::lunbo"></div>

    <div>
                    <span>
                    <img th:src="@{/image/kongbaitiao.png}"
                         style="margin-top: 25px;"/>
                    </span>
    </div>

    <div class="container">
        <div class="row shop">
        </div>
        <!--底部页栏-->
        <div class="row">
            <!--底部提示页码栏-->
            <div class="col-md-offset-1" id="page_info" style="font-size: 15px"></div>
            <div class="col-md-offset-6" id="page_nav"></div>
        </div>
    </div>

    <!--底部栏-->
    <div>
        <span><img th:src="@{/image/kongbaitiao.png}" style="margin-top: 25px;"/></span>
    </div>

    <div th:replace="frontend/bar::service"></div>

    <div>
        <span><img th:src="@{/image/kongbaitiao.png}" style="margin-top: 25px;"/></span>
    </div>

    <div th:replace="frontend/bar::footArea"></div>

    <script th:src="@{/js/jquery/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/minishop/commons.js}"></script>
    <script th:src="@{/js/minishop/other.js}"></script>
    <script>
        //启动轮播，设置轮播间隔4s
        $(".carousel").carousel({
            interval: 4000
        });
    </script>
</body>
</html>