<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>人事管理系统</title>
    <link th:href="@{/css/boostrap/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery/jquery-1.11.3.min.js}"></script>
    <script th:src="@{/js/boostrap/bootstrap.min.js}"></script>
</head>
<body>
    <div th:replace="commons/commons::modal"></div>


    <div class="container">
        <div class="form row">
            <form action="/shopManagementLogin" type="post">
                <div class="form-horizontal">
                    <h1 class="form-title">MiniShop商家登录系统</h1>
                </div>
                <div class="form-horizontal col-md-offset-3" id="login_form">
                    <h3 class="form-title">LOGIN</h3>
                    <div class="col-md-9">
                        <div class="form-group">
                            <i class="fa fa-user fa-lg"></i>
                            <input class="form-control required" type="text" placeholder="用户名" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                            <span class="help-block"></span>
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock fa-lg"></i>
                            <input class="form-control required" type="password" placeholder="密码" id="password" name="password" maxlength="8"/>
                        </div>
                        <div class="form-group col-md-offset-2">
                            <input type="checkbox" name="remember">记住我
                        </div>
                        <div class="form-group col-md-offset-9">
                            <button type="submit" class="btn btn-success pull-right" name="submit" id="submit">登录</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">

        /*$(document).keyup(function(event){
            if(event.keyCode === 13){
                $("#submit").trigger("click");
            }
        });

        function checkUserAndPassword(){
            var user = $("#username").val();
            var password = $("#password").val();
            if(user.length === 0){
                $("#username").parents().addClass("has-error");
                $("#username").next().text("请输入账号");
                return false;
            }
            if(password.length === 0){
                $("#password").parents().addClass("has-error");
                $("#password").next().text("请输入密码");
                return false;
            }
            return true;
        }

        $("#submit").click(function () {
            $("#username").parents().removeClass("has-error");
            $("#username").next().text("");
            if(!checkUserAndPassword()){
                return false;
            }

            var user = $("#username").val();
            var password = $("#password").val();
            var check = user + "-" + password;
            $.ajax({
                url:"/user/checkLoginUser/"+check,
                type:"POST",
                success:function (result) {
                    if(result.code === 100){
                        window.location.href='index.jsp';
                    }else {
                        $("#modal_hint").text(result.map.msg);
                        $("#modal").modal({
                            backdrop:'static'
                        })
                    }
                }
            });
        })*/
    </script>
</body>
</html>